<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.administrator.jianguanxitong">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/login"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".Login">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".DaoHangActivity" />
        <activity android:name=".HuoZhengActivity" />
        <activity android:name=".ShiPingXiangGuanActivity" />
        <activity android:name=".ZLXCActivity" />
        <activity android:name=".hzqe.HZQEAddActivity" />
        <activity android:name=".hzqe.HZQEAlertActivity" />
        <activity android:name=".GYQYActivity" />
        <activity android:name=".gyqy.GYQYAddActivity" />
        <activity android:name=".gyqy.GYQYQueryActivity" />
        <activity android:name=".gyqy.GYQYAlertActivity" />
        <activity android:name=".spxg.SPXGAddActivity" />
        <activity android:name=".spxg.SPXGAlertActivity" />
        <activity android:name=".ZLTSActivity" />
        <activity android:name=".zlts.FXJCDAllertActivity" />
        <activity android:name=".ShowItemActivity" />
        <activity android:name=".zlts.JDJCActivity" />
        <activity android:name=".zlts.FXJCDActivity" />
        <activity android:name=".zlts.FXJCDAddActivity" />
        <activity android:name=".zlts.JDJCAddActivity" />
        <activity android:name=".zlts.JDJCAlertActivity"></activity>
    </application>

</manifest>